{{#partial "contenido" }}
    <div class="container mt-4">
        <h1>Incidentes</h1>

        <a class="btn btn-warning mb-auto" href="/incidentes/crear">Abrir Incidente</a>

        <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filtrar
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#" id="filterOpen">Abiertos</a>
                <a class="dropdown-item" href="#" id="filterClosed">Cerrados</a>
            </div>
        </div>

        <ul class="list-group mt-3" id="incidentList">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-1"><strong>Título</strong></div>
                    <div class="col-md-3"><strong>Descripción</strong></div>
                    <div class="col-md-1"><strong>Estado</strong></div>
                    <div class="col-md-2"><strong>Apertura</strong></div>
                    <div class="col-md-2"><strong>Cierre</strong></div>
                    <div class="col-md-1"><strong>Prestación</strong></div>
                    <div class="col-md-2"><strong>Opciones</strong></div>
                </div>
            </li>
            {{#each incidentes}}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-1">{{this.titulo}}</div>
                        <div class="col-md-3">{{this.descripcion}}</div>
                        <div class="col-md-1">{{this.estadoToString}}</div>
                        <div class="col-md-2">
                            {{this.aperturaToString}}
                        </div>

                        <div class="col-md-2">
                            {{this.cierreToString}}
                        </div>
                        <div class="col-md-1">
                            {{this.prestacionDeServicio.getEntidad.getNombre}}
                            {{this.prestacionDeServicio.getEstablecimiento.getNombre}}
                            {{this.prestacionDeServicio.getServicio.getNombre}}

                        </div>
                        <div class="col-md-2">
                            <a class="btn btn-danger mb-auto" href="/incidentes/{{this.id}}/cerrar">Cerrar</a>
                            <a class="btn btn-dark mb-auto" href="/incidentes/{{this.id}}/editar">Editar</a>
                        </div>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
{{/partial}}
{{> templates/plantilla_base }}