{{#partial "contenido" }}

    <!--TODO ver como hacer para que el boton de filtrar funcione-->

    <div class="container mt-4">
        <h1>Incidentes</h1>

        <a class="btn btn-warning mb-auto" href="/incidentes/crear">Abrir Incidente</a>

        <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filtrar
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#" id="filterOpen">Abiertos</a>
                <a class="dropdown-item" href="#" id="filterClosed">Cerrados</a>
            </div>
        </div>

        <ul class="list-group mt-3" id="incidentList">
        {{#each comunidades}}
            <h2>Incidentes en {{this.nombre}}</h2>
            <table class="table table-striped mb-5">
                <thead>
                <tr>
                    <th class="col-md-1"><strong>Título</strong></th>
                    <th class="col-md-3"><strong>Descripción</strong></th>
                    <th class="col-md-2"><strong>Entidad</strong></th>
                    <th class="col-md-1"><strong>Establecimiento</strong></th>
                    <th class="col-md-1"><strong>Servicio</strong></th>
                    <th class="col-md-2"><strong>Apertura</strong></th>
                    <th class="col-md-2"><strong>Cierre</strong></th>
                    <th class="col-md-1"><strong>Estado</strong></th>
                    <th class="col-md-2"><strong>Opciones</strong></th>
                </tr>
                </thead>
                <tbody>
                {{#each this.incidentes}}
                <tr>
                    <td>{{this.titulo}}</td>
                    <td>{{this.descripcion}}</td>
                    <td>{{this.prestacionDeServicio.getEntidad.getNombre}}</td>
                    <td>{{this.prestacionDeServicio.getEstablecimiento.getNombre}}</td>
                    <td>{{this.prestacionDeServicio.getServicio.getNombre}}</td>
                    <td>{{this.aperturaToString}}</td>
                    <td>{{this.cierreToString}}</td>
                    <td>{{this.estadoToString}}</td>
                    <td>
                        <a class="btn btn-danger mb-1" href="/incidentes/{{this.id}}/cerrar?comunidad_id={{this.comunidadId}}">Cerrar</a>
                        <a class="btn btn-dark mb-1" href="/incidentes/{{this.id}}/editar">Editar</a>
                    </td>
                </tr>
                {{/each}}
                </tbody>
            </table>
        {{/each}}
        </ul>

    </div>
{{/partial}}
{{> templates/plantilla_base }}