{{#partial "contenido" }}
   <div class="container mt-4">
        <h1>{{comunidad.getNombre}}</h1>

        <ul class="list-group list-group">
            <li class="list-group-item bg-warning d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Usuarios</div>
                </div>
                <div class="d-grid gap-2 d-md-block">
                    <button class="btn btn-success btn-sm" type="button">Alta Usuario</button>
                </div>
            </li>
            {{#each miembros}}
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>{{this.usuario.getNombre}} {{this.usuario.getApellido}}</div>
                      </div>
                    <div class="d-grid gap-2 d-md-block">
                        <a class="btn btn-danger mb-auto" href="/comunidades/{{this.id}}/baja">Baja</a>
                        <a class="btn btn-dark mb-auto" href="/comunidades/{{this.id}}/editar">Editar</a>
                    </div>
                </li>
            {{/each}}

          </ul>
    </div>
{{/partial}}
{{> templates/plantilla_base }}