{{#partial "contenido2" }}
    <div class="container-fluid d-flex align-items-center justify-content-center min-vh-100">
        <div class="col-md-4">
            <div class="card shadow-lg">
                <div class="card-header text-dark text-center py-3">
                    <h3 class="m-0">La contraseña ingresada es invalida</h3>
                </div>
                <div class="card-body p-4">
                    <p>Para tener una contraseña segura debe cumplir los siguientes requisitos:</p>
                    <ul>
                        {{#each validaciones}}
                            <li>
                                {{this}}
                            </li>
                        {{/each}}
                    </ul>
                    <a class="btn botonppal mb-auto" href="{{error_return}}?nombre={{nombre}}&apellido={{apellido}}&usuario={{usuario}}">Volver a intentar</a>
                </div>

            </div>
        </div>
    </div>
{{/partial}}
{{> templates/errors/plantilla_errores_base }}