{{#partial "contenido" }}

    <div class="container mt-4">

        <div class="d-flex">
            <div>
                <h1>Incidentes</h1>
            </div>
            <div class="mt-2 ms-auto">
                <a class="btn botonppal mb-auto" href="/incidentes/crear">Abrir Incidente</a>
            </div>
        </div>

        <ul class="list-group mt-3" id="incidentList">
            {{#each comunidades}}
                <h2>Incidentes en {{this.nombre}}</h2>
                <table class="table table-striped mb-5">
                    <thead>
                    <tr>
                        <th class="col-md-1"><strong>Título</strong></th>
                        <th class="col-md-3"><strong>Descripción</strong></th>
                        <th class="col-md-2"><strong>Entidad</strong></th>
                        <th class="col-md-1"><strong>Establecimiento</strong></th>
                        <th class="col-md-1"><strong>Servicio</strong></th>
                        <th class="col-md-2"><strong>Apertura</strong></th>
                        <th class="col-md-2"><strong>Cierre</strong></th>
                        <th class="col-md-1"><strong>Estado</strong></th>
                        <th class="col-md-2"><strong></strong></th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each this.incidentes}}
                        <tr>
                            <td>{{this.titulo}}</td>
                            <td>{{this.descripcion}}</td>
                            <td>{{this.prestacionDeServicio.getEntidad.getNombre}}</td>
                            <td>{{this.prestacionDeServicio.getEstablecimiento.getNombre}}</td>
                            <td>{{this.prestacionDeServicio.getServicio.getNombre}}</td>
                            <td>{{this.aperturaToString}}</td>
                            <td>{{this.cierreToString}}</td>
                            <td>{{this.estadoToString}}</td>
                            <td>
                                {{#if this.estado}}

                                {{else}}
                                    <form method="POST" action="/incidentes/{{this.id}}/cerrar/{{this.comunidadId}}">
                                        <button type="submit" class="btn botonppal mb-1">Cerrar</button>
                                    </form>
                                {{/if}}
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            {{/each}}
        </ul>

    </div>
{{/partial}}
{{> templates/usuarios/plantilla_base }}